{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>signup</title>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
            rel="stylesheet"
    />

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
    <link
            rel="shortcut icon"
            href="{% static 'images/AP-SBTET.png' %}"
            type="image/x-icon"
    />
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img
                    src="{% static 'images/AP-SBTET.png' %}"
                    alt="Logo"
                    height="70"
            />
            AskSbtet
            <!-- Add your brand name here -->
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'signin' %}"
                >signin &nbsp; <i class="fa fa-sign-in" aria-hidden="true"></i
                ></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Sidebar -->
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1>
                <a href="{% url 'index' %}" class="logo">AskSbtet?<span>Ask and Learn</span></a>
            </h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="{% url 'index' %}"><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li>
                    <a href="{% url 'branch' %}">
                        <span class="fa fa-question-circle mr-3"></span> Questions
                    </a>
                    <!-- Sub-menu starts here -->
                    <ul class="list-unstyled components-sub">
                        <a href="{% url 'chatbot' %}" style="text-align: center">Quick Doubt Solver</a>
                        <!-- Add more sub-menu items as needed -->
                    </ul>
                </li>

                <li>
                    <a href="{% url 'aboutus' %}"><span class="fa fa-user mr-3"></span> About Us</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
                </li>
                <!-- Add more navigation items here -->
                <li>
                    <a href="{% url 'contactus' %}"><span class="fa fa-paper-plane mr-3"></span> Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
    <div id="content" class="p-4 p-md-5 pt-5">
        {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
            <div class="alert alert-success">{{ message }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %} {% endfor %} {% endif %}
        <div class="container-sm">
            <form action="{% url 'signup' %}" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <h2 class="text-center">Sign Up</h2>

                <div class="form-group">
                    <label for="firstName"
                    >First Name<span class="required">*</span>:</label
                    >
                    <input
                            type="text"
                            class="form-control required"
                            name="first_name"
                            id="firstName"
                            aria-describedby="helpId"
                            placeholder="enter your first name"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="lastName"
                    >Last Name<span class="required">*</span>:</label
                    >
                    <input
                            type="text"
                            class="form-control required"
                            name="last_name"
                            id="lastName"
                            aria-describedby="helpId"
                            placeholder="enter your last name"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email<span class="required">*</span>:</label>
                    <input
                            type="email"
                            class="form-control required"
                            name="email"
                            id="email"
                            aria-describedby="emailHelpId"
                            placeholder="enter your email address"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="password1"
                    >Password<span class="required">*</span>:</label
                    >
                    <input
                            type="password"
                            class="form-control required"
                            name="password1"
                            id="password1"
                            placeholder="Enter your password"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="password2"
                    >Retype Password<span class="required">*</span>:</label
                    >
                    <input
                            type="password"
                            class="form-control required"
                            name="password2"
                            id="password2"
                            placeholder="Enter your password"
                            required
                    />
                </div>
                <div class="form-check">
                    <label for="user-type"
                    >Are you a student, teacher, or other?<span class="required"
                    >*</span
                    ></label
                    ><br/>
                    <input
                            type="radio"
                            id="student"
                            name="user-type"
                            value="student"
                            required
                    />
                    <label for="student">Student</label><br/>
                    <input
                            type="radio"
                            id="teacher"
                            name="user-type"
                            value="teacher"
                            required
                    />
                    <label for="teacher">Teacher</label><br/>
                    <input
                            type="radio"
                            id="other"
                            name="user-type"
                            value="other"
                            required
                    />
                    <label for="other">Other</label>
                </div>
                <div class="form-group">
                    <label for="college-name"
                    >College Name (if you are a teacher or student):</label
                    >
                    <input
                            type="text"
                            class="form-control"
                            name="college-name"
                            id="college-name"
                            placeholder="Enter your college name"
                    />
                </div>
                <div class="form-group">
                    <label for="branch"
                    >Select your interested branch<span class="required">*</span
                    >:</label
                    >
                    <select class="custom-select" name="branch" id="branch">
                        <option selected>Select your stream</option>
                        {% for branch in branches %}
                            <option value="{{ branch.short_form }}">
                                {{ branch.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <!-- Footer -->
        <footer class="footer mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 style="color: white">Connect with Us</h4>
                        <!-- Social media icons -->
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="col-md-6">
                        <h4 style="color: white">About AskSbtet</h4>
                        <p style="color: white">
                            AskSbtet is a dynamic online platform designed to foster a
                            thriving and interactive community for students and educators
                            alike. It serves as a hub for knowledge sharing, question
                            asking, and collaboration within the academic world.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    function validateForm() {
        const requiredFields = document.querySelectorAll(".required");
        let isValid = true;

        // Check if the password and retype password fields match
        const password1 = document.getElementById("password1").value;
        const password2 = document.getElementById("password2").value;
        if (password1 !== password2) {
            alert("Passwords do not match. Please try again.");
            return false; // Prevent form submission
        }

        requiredFields.forEach((field) => {
            const value = field.value.trim();
            if (value === "") {
                isValid = false;
                field.classList.add("invalid"); // Add a class for styling
            } else {
                field.classList.remove("invalid");
            }
        });

        return isValid;
    }
</script>
</body>
</html>
